*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body{
    font-family: roboto;
    background-color: #1f2937;
    color: #f9faf8;
}

.big_padding{
    padding-right: 11vw;
    padding-left: 11vw;
}

.smaller_padding{
    padding-left: 15vw;
    padding-right: 15vw;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px
}
.menu h2{
    font-size: 18px;
}
.menu-right{
    display: flex;
    justify-content: space-between;
    min-width: 25vw;
}

.menu-right li {
    list-style: none;
    margin: 0;
    padding: 0;
}
li a:link, li a:visited{
    color: #f9faf8;
    text-decoration: none;
}

li a:hover{
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

.header_left {
    min-width: 50%;
    padding-right: 10%;
}

.header_left h1{
    font-size: 48px;
    font-weight: 900;
    /* line-height: 80px; */
}

.header_left p, .menu-right{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 200;
    margin-top: 20px;
}
.hero_img{
    height: 100%;
    width: 35vw;
    border-radius: 8px;
}

.random-info{
    background-color: #ffff;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 6%;
}

.random-info h2{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

/* illustration */
.illustrations {
    display: flex ;
    justify-content: space-between;
}
.projects{
   text-align: center;
   margin-top: 35px;
   width: 200px;
   
}
.projects img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 2.5px solid #3882f6;
    object-fit: cover;
}

.projects p{
    color:#1f2937;
    font-weight: 300;
    padding-top: 15px;
}

.quote-container{
    background-color: #e5e7eb;
    padding-top: 10%;
    padding-bottom:10%;
}

.quote-container p{
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
    line-height: 160%;
    padding-left: 7%;
    padding-right: 7%;
}

.quote-container h3{
    color: #1f2937;
    text-align: right;
    padding-right: 20%;
}

.cta_container{
    background-color: #fff;
    padding-top: 8%;
    padding-bottom: 8%;
}

.cta{
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 8% 5% 8%; 
}

.cta_text h3{
    font-size: 36px;
    line-height: 140%;
}

.cta_text p{
    font-weight: 350;
}

.cta_btn{
    border: none;
    height: 40px;
    width: 120px;
    cursor: pointer;
    background-color: #3882f6;
    border: 1.5px solid #f9faf8;
    border-radius: 5px;
    color: #f9faf8;
    font-size: 20px;
}

footer{
    text-align: center;
    font-weight: 300;
    padding: 10px;
}